@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Qahiri&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Copse&family=Scope+One&display=swap");

:root {
   scroll-behavior: smooth;
}

header,
main,
footer {
   display: none;
}

blink {
   -webkit-animation: 2s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
   animation: 2s linear infinite condemned_blink_effect;
}

/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect {
   0% {
      visibility: hidden;
   }
   50% {
      visibility: hidden;
   }
   100% {
      visibility: visible;
   }
}

@keyframes condemned_blink_effect {
   0% {
      visibility: hidden;
   }
   50% {
      visibility: hidden;
   }
   100% {
      visibility: visible;
   }
}

.navbar-brand,
.footer-logo {
   font-family: "Libre Baskerville", serif;
   font-weight: bold;
   //    font-family: "Qahiri", sans-serif;
   letter-spacing: 0.3rem;
}

.main {
   margin-bottom: 25rem;
}

.title {
   font-weight: bolder;
   color: #1266f1;
}

.covid-header {
   margin-bottom: 2rem;
   .virus {
      color: #1266f1;
      font-size: 2rem;
   }
   .c-case {
      color: #1266f1;
      font-weight: bold;
   }
   .c-rec {
      color: #00b74a;
      font-weight: bold;
   }
   .heal {
      color: #00b74a;
      font-size: 2rem;
   }

   .c-de {
      font-weight: bold;
      color: #f93154;
   }

   .death {
      color: #f93154;
      font-size: 2rem;
   }
}

.date,
.time {
   text-align: right;
   margin-bottom: 0;
   //    font-weight: bold;
}

.cases span,
.cases i {
   font-weight: bold;
   color: #1266f1;
   font-size: 1.3rem;
}

.recover span,
.recover i {
   font-weight: bold;
   color: #00b74a;
   font-size: 1.3rem;
}

.deaths span,
.deaths i {
   font-weight: bold;
   color: #f93154;
   font-size: 1.3rem;
}

.loader {
   margin: 0 auto;
   margin-top: 12rem;
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid #3498db;
   width: 100px;
   height: 100px;
   -webkit-animation: spin 0.5s linear infinite; /* Safari */
   animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
   0% {
      -webkit-transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(360deg);
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.qtation {
   font-family: "Scope One", serif;
}

.__slide-show {
   margin: 7rem 0;
   box-sizing: border-box;
   .mySlides {
      display: none;
   }
   img {
      vertical-align: middle;
      max-height: 450px;
      min-height: 120px;
   }

   /* Slideshow container */
   .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
   }

   /* Caption text */
   .text {
      color: #f2f2f2;
      font-size: clamp(1.5rem, 5vw, 5rem);
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
   }

   /* Number text (1/3 etc) */
   .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
   }

   /* The dots/bullets/indicators */
   .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
   }

   .active {
      background-color: #717171;
   }

   /* Fading animation */
   .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
   }

   @-webkit-keyframes fade {
      from {
         opacity: 0.4;
      }
      to {
         opacity: 1;
      }
   }

   @keyframes fade {
      from {
         opacity: 0.4;
      }
      to {
         opacity: 1;
      }
   }

   /* On smaller screens, decrease text size */
   @media only screen and (max-width: 300px) {
      .text {
         font-size: 11px;
      }
   }
}
