@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Qahiri&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Copse&family=Scope+One&display=swap");

:root {
   scroll-behavior: smooth;
}

header,
main,
footer {
   display: none;
}

.navbar-brand {
   font-family: "Libre Baskerville", serif;
   font-weight: bold;
   //    font-family: "Qahiri", sans-serif;
   letter-spacing: 0.3rem;
}

.title {
   font-weight: bolder;
   color: #1266f1;
}

.covid-header {
   margin-bottom: 2rem;
   .virus {
      color: #1266f1;
      font-size: 2rem;
   }
   .c-case {
      color: #1266f1;
      font-weight: bold;
   }
   .c-rec {
      color: #00b74a;
      font-weight: bold;
   }
   .heal {
      color: #00b74a;
      font-size: 2rem;
   }

   .c-de {
      font-weight: bold;
      color: #f93154;
   }

   .death {
      color: #f93154;
      font-size: 2rem;
   }
}

.date,
.time {
   text-align: right;
   margin-bottom: 0;
   //    font-weight: bold;
}

.cases span,
.cases i {
   font-weight: bold;
   color: #1266f1;
   font-size: 1.3rem;
}

.recover span,
.recover i {
   font-weight: bold;
   color: #00b74a;
   font-size: 1.3rem;
}

.deaths span,
.deaths i {
   font-weight: bold;
   color: #f93154;
   font-size: 1.3rem;
}

.loader {
   margin: 0 auto;
   margin-top: 12rem;
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid #3498db;
   width: 100px;
   height: 100px;
   -webkit-animation: spin 0.5s linear infinite; /* Safari */
   animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
   0% {
      -webkit-transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(360deg);
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.qtation {
   font-family: "Scope One", serif;
}

// .qtation-p {

// }
